<div class="success">
  <div class='controls'>
    <a href='#' class='button {{backButtonClass}}'>
      << back
    </a>
    <a href='/programs/{{programId}}' class='button {{buttonClass}}'>
      <div class='next'>
        next step >>
      </div>
      <div class='publish'>
        Publish This
      </div>
    </a>
  </div>
</div>
