<div class="success">
  <div class='controls'>
    <a href='/programs/{{programId}}' class='button {{buttonClass}}'>
      <div class='next'>
        Next <span class='arrow'> &raquo; </span>
      </div>
      <div class='publish'>
        Publish This
      </div>
    </a>
  </div>
</div>
