<h1>
  {{showTitle}}
  <span class='subtitle'>{{subTitle}}</span>
</h1>
<div class='progress top-progress'>
  <div id='progressbar' data-progress="{{progressPct}}">
  </div>
  <p> {{progressText}} </p>
</div>
<div class='hr'></div>
