body {
  background: #f2eee8;
}
.advert a {
  color: black;
  text-decoration: none;
}
.advert a.edit-link {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid gray;
}

.advert {
  z-index: 9;
  float: right;
  background: white;
  border-radius: 10px;
  padding: 10px;
  position: fixed !important;
  bottom: 20px;
  right: 10px;
  -moz-box-shadow:    2px 2px 3px 2px #ccc;
  -webkit-box-shadow: 2px 2px 3px 2px #ccc;
  box-shadow:         2px 2px 3px 2px #ccc;
}


