@font-face {
    font-family: 'NillandBlackRegular';
    src: url('Nilland-Black.eot');
    src: url('Nilland-Black.eot?#iefix') format('embedded-opentype'),
         url('Nilland-Black.woff') format('woff'),
         url('Nilland-Black.ttf') format('truetype'),
         url('Nilland-Black.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}


