body.homepage {
  background: black image_url('bg-image.png') no-repeat -238px -521px;
}

#about, #signup {
  color: #F6F3F3;
  font-family:  "Baskerville","Georgia", serif;
}
#about {
  line-height: 35px;
  font-size: 35px;
  margin-top: 20px;
  .we { padding-left: 46px; }
  .line1{ padding-left: 198px; }
  .line2{ padding-left: 100px; }
  .line3{ padding-left: 250px; }
}
#logo {
  font-family: "NillandBlackRegular", "Baskerville","Georgia", serif;
  font-size: 113px;
  padding-top: 20px;
  color:  #c5d497;
  width: 559px;
  height: 108px;
}
#signup {
  margin-left: 25px;
  margin-top: 60px;
  float: left;
  .fineprint {
    width: 300px;
  }
}

.app-group {
  background-color: rgba(182, 241, 219, 0.6);
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 410px;
  height: 180px;
  float: right;
  overflow: hidden;
  clear: right;
  float: right;
  overflow: hidden;
  width: 410px;
  margin-top: 60px;
  a {
    color: black;
    text-decoration: none;
  }
  #get_daisy {
    float: left;
    border-radius: 24px;
    overflow: hidden;
    width: 175px;
    height: 175px;
  }
  #get_app {
    float: left;
    margin: 17px 10px 0;
    padding: 15px 10px;
    background: #F8CA00;
    border-radius: 10px;
    font-size: 17px;
    display: inline-block;
    width: 187px;
  }
  #get_appstore {
    margin: 10px;
    width: 200px;
    overflow: hidden;
    float: left;
  }
}

#contact {
  color: #e6dfdf;
}
