body.homepage {
  background: black image_url('bg-image.png') no-repeat -238px -521px;
}

#about, #signup {
  color: #F6F3F3;
  font-family:  "Baskerville","Georgia", serif;
}
#about {
  line-height: 35px;
  font-size: 35px;
  margin-top: 20px;
  .we { padding-left: 46px; }
  .line1{ padding-left: 198px; }
  .line2{ padding-left: 100px; }
  .line3{ padding-left: 250px; }
}
#logo {
  width: 559px;
  height: 108px;
  background: transparent image_url('logo.png') no-repeat 0 0;
}
#signup {
  margin-left: 25px;
  margin-top: 60px;
  float: left;

  label {
    display: block;
    font-size: 22px;
  }
  .fineprint {
    width: 300px;
  }
  input#signup_email {
    border-radius: 8px;
    border-color: #B7F1DB;
    background-color: #B7F1DB;
    font-size: 24px;
    color: #614D4D;
    font-size: 22px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  input[type='submit'] {
    font-size: 22px;
    padding: 5px;
  }
}

.app-group {
  float: right;
  overflow: hidden;
  width: 410px;
  margin-top: 60px;
  a {
    color: black;
    text-decoration: none;
  }
  #get_daisy {
    float: left;
    border-radius: 24px;
    overflow: hidden;
    width: 175px;
    height: 175px;
  }
  #get_app {
    float: left;
    margin: 17px 10px 0;
    padding: 15px 10px;
    background: #F8CA00;
    border-radius: 10px;
    font-size: 17px;
    display: inline-block;
  }
  #get_appstore {
    margin: 10px;
    width: 200px;
    height: 65px;
    overflow: hidden;
    border-radius: 10px;
    float: left;
    img {
      margin-top: -5px;
    }
  }
}

#contact {
  color: #e6dfdf;
}
