body.kit {
  h1 {
    font-size: 20px;
    padding: 10px;
  }

  a {
    color: orange;
  }
  ul {
    li {
      padding: 10px;
    }
  }
  .edit-step, .show-step{
    overflow: hidden;
    &.hidden {
      display: none;
    }
  }
  form {
    overflow: hidden;
  }
  .input {
    overflow: hidden;
    textarea {
      float: right;
    }
    label {
      float: left;
    }

  }
}
