form {
  float: left;
  textarea {
    font-size: 20px;
  }
}
#stage {
  float: left;
  padding-left: 20px;
  iframe {
    height: 400px;
    width: 400px;
  }
}

#success {
  display: none;
}

.fb-like {
  float: right;
  background: white;
  border-radius: 10px;
  padding: 10px;
  position: fixed !important;
  bottom: 100px;
  right: 10px;
}

