body {
  width: 100%;
  font-family: sans-serif;
}
#content {
  width: 960px;
  height: auto;
  margin: 0px auto;
}
.flash {
  background: #F8CA00;
  font-family: Arial;
  padding: 14px;
  font-size: 21px;
  position: relative;
  width: 100%;
  top: 0;
}

a {
  color: #c5d497;
  text-decoration: none;
}

form#new_signup {
  label {
    display: block;
    font-size: 22px;
  }
  input#signup_email {
    border-radius: 8px;
    border-color: #B7F1DB;
    background-color: #B7F1DB;
    font-size: 24px;
    color: #614D4D;
    font-size: 22px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  input[type='submit'] {
    font-size: 22px;
    padding: 5px;
  }
}
ul.nav {
  float: left;
  margin-top: 50px;
  margin-left: 125px;
  margin-bottom: 125px;
  clear: both;
  font-size: 24px;
  font-family: "Nilland", "Baskerville","Georgia", serif;
  li{
    float: left;
    margin-right: 15px;
    &.middle {
      border-right: 2px solid #C5D497;
    }
    padding-right: 15px;
  }
  a {
    color: #c5d497;
  }
}


