body {
  width: 100%;
  font-family: sans-serif;
}
#content {
  width: 960px;
  height: auto;
  margin: 0px auto;
}
.flash {
  background: #F8CA00;
  font-family: Arial;
  padding: 14px;
  font-size: 21px;
  position: absolute;
  width: 100%;
}

a {
  color: #c5d497;
  text-decoration: none;
}
ul.nav {
  float: left;
  margin-top: 30px;
  margin-left: 25px;
  clear: both;
  font-size: 24px;
  font-family: "Nilland", "Baskerville","Georgia", serif;
  li{
    float: left;
    margin-right: 15px;
    &.middle {
      border-right: 2px solid #C5D497;
    }
    padding-right: 15px;
  }
  a {
    color: #c5d497;
  }
}


