= sprite($group_name, $image_name, $offset: 0)
  @if $group_name == "buttons" and $image_name == "blue-active"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{0+$offset}px
    width: 131px
    height: 41px
  @if $group_name == "buttons" and $image_name == "blue-hover"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-41+$offset}px
    width: 131px
    height: 41px
  @if $group_name == "buttons" and $image_name == "blue"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-82+$offset}px
    width: 131px
    height: 41px
  @if $group_name == "buttons" and $image_name == "edit-active"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-123+$offset}px
    width: 39px
    height: 35px
  @if $group_name == "buttons" and $image_name == "edit-hover"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-158+$offset}px
    width: 39px
    height: 35px
  @if $group_name == "buttons" and $image_name == "edit"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-193+$offset}px
    width: 39px
    height: 35px
  @if $group_name == "buttons" and $image_name == "green-active"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-228+$offset}px
    width: 131px
    height: 41px
  @if $group_name == "buttons" and $image_name == "green-hover"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-269+$offset}px
    width: 131px
    height: 41px
  @if $group_name == "buttons" and $image_name == "green"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-310+$offset}px
    width: 131px
    height: 41px
  @if $group_name == "buttons" and $image_name == "less-info-active"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-351+$offset}px
    width: 25px
    height: 16px
  @if $group_name == "buttons" and $image_name == "less-info"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-367+$offset}px
    width: 25px
    height: 16px
  @if $group_name == "buttons" and $image_name == "more-info-active"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-383+$offset}px
    width: 25px
    height: 16px
  @if $group_name == "buttons" and $image_name == "more-info"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-399+$offset}px
    width: 25px
    height: 16px
  @if $group_name == "buttons" and $image_name == "trash-active"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-415+$offset}px
    width: 39px
    height: 35px
  @if $group_name == "buttons" and $image_name == "trash-hover"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-450+$offset}px
    width: 39px
    height: 35px
  @if $group_name == "buttons" and $image_name == "trash"
    background: url('/assets/sprites/buttons.png?1331731458') no-repeat 0px #{-485+$offset}px
    width: 39px
    height: 35px
  @if $group_name == "social_buttons" and $image_name == "edit-bg"
    background: url('/assets/sprites/social_buttons.png?1331731458') no-repeat 0px #{0+$offset}px
    width: 92px
    height: 48px
  @if $group_name == "social_buttons" and $image_name == "facebook-hover"
    background: url('/assets/sprites/social_buttons.png?1331731458') no-repeat 0px #{-48+$offset}px
    width: 31px
    height: 31px
  @if $group_name == "social_buttons" and $image_name == "facebook"
    background: url('/assets/sprites/social_buttons.png?1331731458') no-repeat 0px #{-79+$offset}px
    width: 31px
    height: 31px
  @if $group_name == "social_buttons" and $image_name == "large-frame"
    background: url('/assets/sprites/social_buttons.png?1331731458') no-repeat 0px #{-110+$offset}px
    width: 492px
    height: 443px
  @if $group_name == "social_buttons" and $image_name == "logo_large"
    background: url('/assets/sprites/social_buttons.png?1331731458') no-repeat 0px #{-553+$offset}px
    width: 481px
    height: 433px
  @if $group_name == "social_buttons" and $image_name == "share-bg"
    background: url('/assets/sprites/social_buttons.png?1331731458') no-repeat 0px #{-986+$offset}px
    width: 371px
    height: 50px
  @if $group_name == "social_buttons" and $image_name == "tweet-hover"
    background: url('/assets/sprites/social_buttons.png?1331731458') no-repeat 0px #{-1036+$offset}px
    width: 53px
    height: 30px
  @if $group_name == "social_buttons" and $image_name == "tweet"
    background: url('/assets/sprites/social_buttons.png?1331731458') no-repeat 0px #{-1066+$offset}px
    width: 53px
    height: 30px
  @if $group_name == "top_bar" and $image_name == "gallery-hover"
    background: url('/assets/sprites/top_bar.png?1331731458') no-repeat 0px #{0+$offset}px
    width: 141px
    height: 53px
  @if $group_name == "top_bar" and $image_name == "gallery"
    background: url('/assets/sprites/top_bar.png?1331731458') no-repeat 0px #{-53+$offset}px
    width: 141px
    height: 53px
  @if $group_name == "top_bar" and $image_name == "logged-in"
    background: url('/assets/sprites/top_bar.png?1331731458') no-repeat 0px #{-106+$offset}px
    width: 218px
    height: 86px
  @if $group_name == "top_bar" and $image_name == "login-active"
    background: url('/assets/sprites/top_bar.png?1331731458') no-repeat 0px #{-192+$offset}px
    width: 267px
    height: 56px
  @if $group_name == "top_bar" and $image_name == "login-hover"
    background: url('/assets/sprites/top_bar.png?1331731458') no-repeat 0px #{-248+$offset}px
    width: 117px
    height: 51px
  @if $group_name == "top_bar" and $image_name == "login"
    background: url('/assets/sprites/top_bar.png?1331731458') no-repeat 0px #{-299+$offset}px
    width: 117px
    height: 51px
  @if $group_name == "top_bar" and $image_name == "my-programs"
    background: url('/assets/sprites/top_bar.png?1331731458') no-repeat 0px #{-350+$offset}px
    width: 187px
    height: 55px
  @if $group_name == "top_bar" and $image_name == "register-active"
    background: url('/assets/sprites/top_bar.png?1331731458') no-repeat 0px #{-405+$offset}px
    width: 267px
    height: 56px
  @if $group_name == "top_bar" and $image_name == "register-hover"
    background: url('/assets/sprites/top_bar.png?1331731458') no-repeat 0px #{-461+$offset}px
    width: 112px
    height: 47px
  @if $group_name == "top_bar" and $image_name == "register"
    background: url('/assets/sprites/top_bar.png?1331731458') no-repeat 0px #{-508+$offset}px
    width: 112px
    height: 47px
