= sprite($group_name, $image_name, $offset: 0)
  @if $group_name == "social_buttons" and $image_name == "edit-bg"
    background: url('/assets/sprites/social_buttons.png?1329503469') no-repeat 0px #{0+$offset}px
    width: 92px
    height: 48px
  @if $group_name == "social_buttons" and $image_name == "facebook-hover"
    background: url('/assets/sprites/social_buttons.png?1329503469') no-repeat 0px #{-48+$offset}px
    width: 31px
    height: 31px
  @if $group_name == "social_buttons" and $image_name == "facebook"
    background: url('/assets/sprites/social_buttons.png?1329503469') no-repeat 0px #{-79+$offset}px
    width: 31px
    height: 31px
  @if $group_name == "social_buttons" and $image_name == "logo_large"
    background: url('/assets/sprites/social_buttons.png?1329503469') no-repeat 0px #{-110+$offset}px
    width: 481px
    height: 433px
  @if $group_name == "social_buttons" and $image_name == "share-bg"
    background: url('/assets/sprites/social_buttons.png?1329503469') no-repeat 0px #{-543+$offset}px
    width: 371px
    height: 50px
  @if $group_name == "social_buttons" and $image_name == "tweet-hover"
    background: url('/assets/sprites/social_buttons.png?1329503469') no-repeat 0px #{-593+$offset}px
    width: 53px
    height: 30px
  @if $group_name == "social_buttons" and $image_name == "tweet"
    background: url('/assets/sprites/social_buttons.png?1329503469') no-repeat 0px #{-623+$offset}px
    width: 53px
    height: 30px
