@font-face {
    font-family: 'NillandBlackRegular';
    src: url('/assets/Nilland-Black.eot');
    src: url('/assets/Nilland-Black.eot?#iefix') format('embedded-opentype'),
         url('/assets/Nilland-Black.ttf') format('truetype'),
         url('/assets/Nilland-Black.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'MavenProBlack';
    src: url('/assets/maven_pro_black-webfont.eot');
    src: url('/assets/maven_pro_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/maven_pro_black-webfont.woff') format('woff'),
         url('/assets/maven_pro_black-webfont.ttf') format('truetype'),
         url('/assets/maven_pro_black-webfont.svg#MavenProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}
