@import 'mixins.scss';
.programs-gallery {
  clear: both;
  ul {
    li {
      float: left;
      margin-bottom: 32px;
      position: relative;
      width: 276px;
      height: 281px;
      margin-right: 20px;
      margin-left: 23px;
    }
  }
  h2 {
    font-family: MavenProBold;
    font-size: 18px;
    margin-bottom: 5px;
    a {
      color: black;
    }
  }

  .by {
    text-align: right;
    font-family: MavenProBold;
    font-size: 18px;
    color: #666;
    margin-top: 48px;
    margin-right: 26px;
  }
  iframe {
     position: relative;
  }
  img {
    position: absolute;
  }
}
