@import 'mixins.scss';
body.kit {
  h1 {
    font-size: 20px;
    padding: 10px;
  }

  a {
    color: $bright-blue;
  }
  ul {
    float: left;
    li {
      padding: 10px;
      float: left;
    }
  }
  ul.kit-steps li {
    clear: both;
  }
  .edit-step, .show-step{
    overflow: hidden;
    &.hidden {
      display: none;
    }
  }
  form {
    overflow: hidden;
    width: 800px;
  }
  .input {
    overflow: hidden;
    textarea {
      float: left;
      font-size: 18px;
      width: 600px;
      height: 300px;
      margin-bottom: 20px;
    }
    label {
      float: left;
      width: 100px;
    }

  }

  .summary {
    p {
      margin: 10px;
    }
  }
  .step-breakdown {
    overflow: hidden;
  }
  .finished-puppies {
    form {
      width: 200px;
      clear: both;
    }

    form.feature, form.unfeature {
      display: none;
    }
    .unfeatured form.feature {
      display: block;
    }
    .featured form.unfeature {
      display: block;
    }
  }

}
