.my-programs {
  padding: 0 25px;

  h1 {
    font-size: 36px;
    margin: 4px 0;
  }

  li {
    margin: 10px 0;
    .name {
      font-family: "MavenProBold";
      font-size: 16px;
    }
    .updated {
      font-style: italic;
    }

    a.program {
      width: 300px;
      display: inline-block;
    }
  }

  .new-programs {
    li {
      float: left;
      padding-right: 20px;
      padding-top: 20px;
      width: 400px;
    }
  }
  .ui-state-default {
    display: inline-block;
    margin-left: 5px;
  }

  .new-program-form {
    margin: 10px 0;
    width: 350px;
    h2 {
      font-size: 25px;
      margin: 5px 0 10px;
      font-family: "MavenProBlack";
      float: left;
    }
    form {
      float: right;
    }
    p {
      clear: both;
      font-size: 16px;
    }
  }
  .ui-button {
    margin-right: 10px;
  }
}
.program {
  h1 {
    font-size: 36px;
    padding-top: 30px;
    font-family: 'MavenProBlack';
    .subtitle {
      font-family: 'Georgia';
      font-style: italic;
    }
  }

  .instructions {
    float: left;
    width: 550px;
    &.welcome p {
      font-size: 20px;
      line-height: 22px;
    }
    img {
      float: left;
      margin: 0 10px 10px 0;
    }
  }

  .progress {
    float: right;
    padding-right: 53px;
    text-align: center;
    p {
      padding-top: 5px;
    }
  }

  .preface {
    h1 {
      margin-right: 20px;
      margin-bottom: 4px;
    }
    padding-left: 30px;
  }
}

#ide .ace_gutter {
  background: none;
}

.instructions, #hint, .success, .error {
  .description {
    width: 550px;
    float: left;
    padding-right: 10px;
  }
  p {
    font-family:  'Georgia';
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 16px;
  }
  code, code p {
    font-family: monospace;
  }
}

.program.new {
  form {
    width: 605px;
    div {
      float: left;
    }
    label {
      font-size: 20px;
      line-height: 45px;
    }
    #program_user_attributes_name {
      margin-top: 10px;
      line-height: 20px;
    }
    input {
      float: right;
      line-height: 25px;
    }
  }

}

#preface {
  width: 920px;
}

#editor {
  position: relative;
  width: 480px;
  height: 400px;
  float: left;
}
#ide {
  padding-top: 40px;
  width: 920px;
  clear: both;
  #controls {
    float: left;
    width: 480px;
    margin-top: 10px;
    margin-bottom: 30px;

  }
  .next-controls {
    float: right;
    margin: 20px;
  }
}
#runthis {
  float: right;
}
#runthis_copy {
  z-index: 99;
  position: fixed;
  bottom: 0;
}

.progress .message {
  margin-top: 10px;
  padding: 10px;
  width: 280px;
  h2 { font-size: 30px }
  &.successful{
    h2 { color: green; }
    background-color: rgba(0, 255, 0, 0.2);
  }
  &.errored {
    h2 { color: red; }
    background-color: rgba(255, 0, 0, 0.2);
  }
  div.hint {
    float: right;
    padding-top: 15px;
    font-style: italic;
  }
}

.next-controls {
  width: 400px;
  .arrow {
    font-size: 35px;
    line-height: 16px;
    display: inline-block;
    margin-left: 5px;
  }
  .next_button { float: right }
}

.message {
  display: none;
  h3 {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .success, .error {
    display: none;
  }

  &.errored {
    .error {
      display: block;
    }
  }
  &.successful {
    .success {
      display: block;
      .controls {
      }
      form {
        float: right;
      }
    }
  }
}

.next_button.ui-state-default {
  background: #93C3CD image_url("green_button.png") 50% 50% repeat;
  &.ui-state-hover {
    background: #35414F image_url('buttonhover.png') 50% 50% repeat;
  }
}

.success .controls {
  text-align: right;
}

#stage {
  float: left;
  margin-left: 20px;
  height: 400px;
  width: 400px;
  iframe {
    height: 400px;
    width: 400px;
  }
  height: 400px;
  width: 400px;
  border: 1px solid gray;
}


#hint {
  display: none;
}

#progressbar {
  width: 300px;
  height: 25px;
}

#publish_popup {
  overflow: hidden;
  .mail {
    margin: 10px 0;
  }
  .social {
    margin: 10px 0;
  }
  .publish-button {
    margin-bottom: 40px;
  }
  p {
    font-family: "Georgia";
    color: black;
    padding: 10px 0;
    a {
      color: #6A8D94;
    }
  }
}
