@import 'mixins.scss';
body.programs-show {
  h1 {
    form input {
      width: 300px !important;
      font-size: 20px !important;
    }
  }
  .left {
    position: relative;
    float: left;
    height: 474px;
    width: 467px;
    margin-left: 50px;
  }
  .right {
    float: left;
    padding-top: 27px;
  }
  .bottom {
    clear: both;
  }
  #social_links {
    background: transparent image_url('share-bg.png') 0 0 no-repeat;
    margin-left: 59px;
    overflow: hidden;
    height: 49px;
    float: left;
    width: 371px;
    z-index: 99;
    position: relative;
    .social {
      display: block;
      cursor: pointer;
      float: left;
      margin-top: 9px;
      text-indent: -99999px;
    }
    .tweet {
      @include sprite("social_buttons", "tweet");
      margin-right: 27px;
      margin-left: 6px;
      &:hover {
        @include sprite("social_buttons", "tweet-hover");
      }
    }
    .facebook {
      @include sprite("social_buttons", "facebook");
      &:hover {
        @include sprite('social_buttons', 'facebook-hover');
      }
    }
    .mail {
      margin-left: 83px;
      float: left;
      color: white;
      margin-top: 9px;
      width: 100px;
    }
  }
  a.program-button {
    display: block;
    float: left;
    @include sprite('social_buttons', 'edit-bg');
    margin-top: 3px;
    position: relative;
    left: -8px;
    text-align: center;
    font-family: MavenProBold;
    color: #333;
    &.edit {
      font-size: 21px;
      line-height: 45px;
    }
    &.new {
      font-size: 15px;
      line-height: 17px;
      span {
        display: inline-block;
        margin-top: 9px;
      }
    }
  }
  .created-by {
    font-style: italic;
    color: #666;
    line-height: 17px;
  }
  img.show-frame {
    position: absolute;
    z-index: 9;
    width: 465px;
    height: 481px;
  }
  iframe {
    height: 400px;
    width: 400px;
    position: relative;
    z-index: 99;
    top: 24px;
    left: 10px;
  }

}
