@import 'mixins.scss';
.my-programs {
  padding: 0 25px;

  h1 {
    font-size: 36px;
    margin: 4px 0;
  }
  ul {
    overflow: hidden;
    margin-top: 20px;
  }

  li {
    float: left;
    margin-right: 47px;
    position: relative;
    width: 256px;
    height: 313px;
    img {
      position: absolute;
    }
    .name {
      font-family: "MavenProBold";
      font-weight: bold;
      font-size: 20px;
      margin-left: 8px;
      color: black;
    }
    .updated {
      color: #666;
      font-style: italic;
      display: block;
      margin-left: 8px;
      margin-bottom: 5px;
    }
    a.program {
      width: 300px;
      display: inline-block;
    }
    .edit-button {
      height: 25px;
      width: 25px;
      background: transparent image_url("edit-icon.png") 0 0 no-repeat;
    }
    .trash-button {
      height: 24px;
      width: 24px;
      background: transparent image_url("trash-icon.png") 0 0 no-repeat;
    }
    .trash-button, .edit-button {
      display: block;
      float: right;
      margin: 58px 14px 0 0;
      text-indent: -9999px;
   }
   iframe {
     position: relative;
  }
  }

  .new-programs {
    li {
      float: left;
      padding-right: 20px;
      padding-top: 20px;
      width: 400px;
    }
  }
  .ui-state-default {
    display: inline-block;
    margin-left: 5px;
  }

  .new-program-form {
    margin: 10px 0;
    overflow: hidden;
    h2 {
      background: #3F9CBA;
      color: white;
      padding: 10px;
      width: 117px;
      font-size: 20px;
      margin: 5px 0 10px;
      font-family: "MavenProBold";
    }
   img {
     height: 84px;
      background: white;
      padding: 11px;
      top: 70px;
      left: 30px;
      border: 1px solid black;
      cursor: pointer;
   }
   .title {
      float: left;
      width: 113px;
   }
 }
 .blurb-hover {
    display: none;
    position: absolute;
    left: 100px;
    top: 0;
    form {
      float: right;
    }
    p {
      float: left;
      font-size: 16px;
      background: transparent image_url("new-program.png") 0 0 no-repeat;
      width: 323px;
      height: 103px;
      font-family: 'Georgia';
      padding: 9px 20px 5px 30px;
      line-height: 18px;
      margin-left: 26px;
   }
 }

  .ui-button {
    margin-right: 10px;
    float: right;
    display: block;
  }
}
.program {
  h1 {
    .subtitle {
      font-family: 'Georgia';
      line-height: 99%;
    }
  }

  .instructions {
    float: left;
    width: 550px;
    &.welcome p {
      font-size: 20px;
      line-height: 22px;
    }
    img {
      float: left;
      margin: 0 10px 10px 0;
    }
    #more_info {
      display: none;
    }
    .gradient {
      position: relative;
      height: 40px;
    }
    #more_info_button {
      border-top: 1px solid #ccc;
      padding-top: 10px;
    }
    #more_info, #more_info_button{
      position: absolute;
      z-index: 99;
      padding-right: 8px;
      width: 552px;
      .text {
        background: #f2eee8;
        padding-bottom: 8px;
        border-bottom: 1px solid #ccc;
      }
    }
    .less-info {
      margin-top: 5px;
    }
    .more-info, .less-info {
      left: 150px;
    }
  }

  .progress {
    float: right;
    padding-right: 53px;
    text-align: center;
    p {
      padding-top: 5px;
    }
  }

  .preface {
    h1 {
      margin-right: 20px;
      margin-bottom: 4px;
    }
    .hr {
      margin-bottom: 20px;
    }
  }
}

#ide .ace_gutter {
  background: none;
}

.instructions, #hint, .success, .error {
  .description {
    width: 550px;
    float: left;
    padding-right: 10px;
  }
  p {
    font-family:  'Georgia';
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 16px;
  }
  code, code p {
    font-family: monospace;
  }
}

.program.new {
  form {
    width: 605px;
    div {
      float: left;
    }
    label {
      font-size: 20px;
      line-height: 45px;
    }
    #program_user_attributes_name {
      margin-top: 10px;
      line-height: 20px;
    }
    input {
      float: right;
      line-height: 25px;
    }
  }

}

#preface {
  width: 920px;
}

#editor {
  position: relative;
  width: 480px;
  height: 400px;
  float: left;
}
#ide {
  padding-top: 40px;
  width: 920px;
  clear: both;
  #controls {
    float: left;
    width: 480px;
    margin-top: 10px;
    margin-bottom: 30px;

  }
  .next-controls {
    float: right;
    margin: 20px;
  }
}
#runthis {
  float: right;
}
#runthis_copy {
  z-index: 99;
  position: fixed;
  bottom: 0;
}

.progress .message {
  margin-top: 10px;
  padding: 10px;
  width: 280px;
  h2 { font-size: 30px }
  &.successful{
    h2 { color: green; }
    background-color: rgba(0, 255, 0, 0.2);
    .success {
      display: block;
    }
  }
  div.hint {
    float: right;
    padding-top: 15px;
    font-style: italic;
  }
  .success {
    display: none;
  }
}

.next-controls {
  width: 400px;
  .arrow {
    font-size: 35px;
    line-height: 16px;
    display: inline-block;
    margin-left: 5px;
  }
  .next_button, .last_button { float: right }
}

.message {
  .unchecked {
    float: left;
    width: 22px;
    height: 18px;
    background: image_url('box.gif') 0 0 no-repeat;
  }
  .checked {
    float: left;
    width: 22px;
    height: 18px;
    background: image_url('checked_box.gif') 0 0 no-repeat;
  }
  .name {
    float: left;
    margin-left: 5px;
    margin-top: 3px;
    width: 253px;
    text-align: left;
  }
  .success {
    margin: 8px 0 12px;
    margin-left: 27px;
    clear: both;
    float: left;
    text-align: left;
  }
  li {
    overflow: hidden;
  }
}

.last_button.ui-state-default, .next_button.ui-state-default {
  background: #93C3CD image_url("green_button.png") 50% 50% repeat;
  &.ui-state-hover {
    background: #35414F image_url('buttonhover.png') 50% 50% repeat;
  }
}

.success .controls {
  text-align: right;
}

#stage {
  float: left;
  margin-left: 20px;
  height: 400px;
  width: 400px;
  iframe {
    height: 400px;
    width: 400px;
  }
  height: 400px;
  width: 400px;
  border: 1px solid gray;
}


#hint {
  display: none;
}

#progressbar {
  width: 300px;
  height: 25px;
}

#publish_popup {
  overflow: hidden;
  .mail {
    margin: 10px 0;
  }
  .social {
    margin: 10px 0;
  }
  .publish-button {
    margin-bottom: 40px;
  }
  p {
    font-family: "Georgia";
    color: black;
    padding: 10px 0;
    a {
      color: #6A8D94;
    }
  }
}
