.program {
  h1 {
    font-size: 36px;
      padding-top: 30px;
  }

  .instructions {
    width: 600px;
    h1 {
      padding-bottom: 20px;
      font-family: 'NillandBlackRegular';
    }
    float: left;
    p {
      width: 600px;
    }
  }

  .progress {
    float: right;
    padding-right: 53px;
    padding-top: 35px;
  }

  .preface {
    width: 960px;
  }
}

.instructions, #hint {
  p {
    font-family:  sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 16px;
  }
  code {
    font-family: monospace;
  }
}

.program.new {
  p {
    width: 600px;
    line-height: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  form {
    width: 550px;
    div {
      float: left;
    }
    label {
      line-height: 45px;
    }
    #program_user_attributes_name {
      margin-top: 10px;
      line-height: 20px;
    }
    input {
      float: right;
      line-height: 25px;
    }
  }

}

#preface {
  width: 920px;
}

#editor {
  position: relative;
  width: 480px;
  height: 500px;
  float: left;
}
#ide {
  padding-top: 40px;
  width: 920px;
  clear: left;
  form {
    float: left;
    clear: both;
    width: 480px;
    margin-top: 10px;

    #runthis {
      float: right;
    }
  }
}
#stage {
  float: left;
  margin-left: 20px;
  iframe {
    height: 400px;
    width: 400px;
  }
}

#success {
  display: none;
}

#hint {
  display: none;
}

#progressbar {
  width: 300px;
  height: 25px;
}


