.advert {
  z-index: 9;
  float: right;
  position: fixed !important;
  bottom: 30px;
  right: 0px;
  background: transparent image_url('ribbon.png') 200px 200px no-repeat;
  height: 69px;
  width: 411px;
  padding: 200px 0 20px 200px;
  a {
    color: black;
    text-decoration: none;
    font-family: MavenProBlack;
    margin-left: 40px;
    margin-top: 14px;
    display: block;
    font-size: 30px;
  }
}

.program-show .left {
  width: 500px;
  float: right;
  // margin-top: 150px;
  h1 {
    font-family: MavenProBlack;
    font-size: 30px;
    margin-bottom: 5px;
    color: #45717a;
  }
  h2 {
    font-family: Georgia;
    font-style: italic;
    font-size: 20px;
  }
}
#social_links {
  margin-top: 50px;
  > div {
    margin: 20px 0;
  }
}

svg {
  margin: 31px 69px;
}

img.show-frame {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9;
}



