html {
  height: 100%;
}

a.logo {
  float: right;
  display: block;
  text-indent: -999em;
  background: transparent image_url('logo.png') 0px 11px no-repeat;
  height: 98px;
  width: 135px;
}

body {
  width: 100%;
  font-family: 'Georgia';
  font-size: 14px;
  background: #f2eee8;
  height: 100%;
}
#content {
  width: 960px;
  margin: 0 auto -54px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

#footer, .push {
  clear: both;
  height: 54px;
  .homelink {
    float: right;
    margin-right: 20px;
    font-size: 15px;
    font-style: italic;
    a {
      color: black;
    }
    .logo {
      font-size: 30px;
      font-family: 'NillandBlackRegular';
      font-style: normal;
    }
  }

  .rootlink {
    margin: 0 auto;
    width: 960px;
    position: relative;
    top: 13px;
    left: -31px;
    a {
      color: black;
      font-size: 22px;
      font-family: "MavenProBlack";
      float: left;
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
  #footer_bg {
    background: transparent image_url('footerbg.png') repeat-x bottom left;
    height: 24px;
    clear: both
  }
}

.clearfix {
  clear: both;
  height: 0;
}


.flash {
  background: #F8CA00;
  font-family: Arial;
  padding: 14px;
  font-size: 21px;
  position: relative;
  width: 100%;
  top: 0;
}

a {
  color: #6A8D94;
  text-decoration: none;
}

p a {
  font-style: italic;
}

iframe.puppy {
  top: 15px;
  left: 24px;
  width: 181px;
  height: 181px;
  margin-right: 42px;
}

form#new_signup {
  label {
    display: block;
    font-size: 22px;
  }
  input#signup_email {
    border-radius: 8px;
    border-color: #B7F1DB;
    background-color: #B7F1DB;
    font-size: 24px;
    color: #614D4D;
    font-size: 22px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  input[type='submit'] {
    font-size: 22px;
    padding: 5px;
  }
}
ul.nav {
  float: left;
  margin-top: 50px;
  margin-left: 25px;
  margin-bottom: 125px;
  clear: both;
  font-size: 24px;
  font-family: "NillandBlackRegular";
  li{
    float: left;
    margin-right: 15px;
    &.middle {
      border-right: 2px solid #C5D497;
    }
    padding-right: 15px;
  }
  a {
    color: #c5d497;
  }
}

h1 {
  font-size: 36px;
  padding-top: 30px;
  font-family: 'MavenProBlack';
  .subtitle {
    font-family: 'Georgia';
    font-style: italic;
  }
}
#subtitle {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 20px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 15px;
}

.ui-widget {
  font-family: "MavenProBold";
}

.ui-progressbar-value {
  background: #35414F image_url('candycane.png') 50% 50% repeat;
}
.hr {
  height: 8px;
  background: #35414F image_url('candycane.png') 50% 50% repeat-x;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #35414F image_url('buttonhover.png') 50% 50% repeat;
}
