@import 'mixins.scss';
html {
  height: 100%;
}

a.logo {
  float: left;
  margin-right: 30px;
  display: block;
  text-indent: -999em;
  background: transparent image_url('logo.png') 0px 11px no-repeat;
  height: 98px;
  width: 108px;
  cursor: pointer;
}

body {
  width: 100%;
  font-family: 'Georgia';
  font-size: 14px;
  height: 100%;
  background: #f2eee8 image_url("bg-stripes.png");
  &.iframe {
    background: white;
  }
  .bg {
    width: 100%;
    font-family: 'Georgia';
    font-size: 14px;
  }
}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}

#top_bar {
  background: $bright-orange;
  height: 28px;
  position: relative;
  #nav {
    width: 960px;
    margin: 0 auto;
    > div, > a {
      position: absolute;
      span {
        padding: 11px 22px;
        display: block;
        color: white;
        font-family: "MavenProBold";
        font-size: 18px;
      }
    }

    #logged_in, #logout {
      display: none;
    }
    &.logged-in {
      position: relative;
      #login {
        display: none;
      }
      #register {
        display: none;
      }
      #logout {
        display: block;
        right: 0;
        width: 425px;
        float: right;
        span.your-name {
          text-align: right;
          width: 371px;
          float: left;
          font-family: Georgia;
          font-style: italic;
          padding: 3px 6px 0 0;
        }
        a {
          color: #444;
          text-decoration: underline;
          font-style: italic;
          font-family: Georgia;
          line-height: 26px;
        }
      }
      #logged_in {
        display: block;
        @include sprite("top_bar", "logged-in");
        top: -15px;
        z-index: 9999;
        .welcome-back {
          padding: 0 19px;
          color: black;
          font-size: 14px;
          font-family: Georgia;
          font-style: italic;
        }
        .name {
          color: black;
          padding: 24px 16px 5px;
          font-size: 24px;
          margin: 0 auto;
        }
      }
      #my_programs {
        display: block;
        @include sprite("top_bar", "my-programs");
        margin-left: 206px;
        z-index: 999;
        top: -2px;
      }
      #gallery {
        margin-left: 382px;
      }
    }

    #login_form, #register_form {
      display: none;
      position: absolute;
      background: white;
      font-style: italic;
      font-family: Georgia;
      padding: 14px 20px;
      z-index: 999;
      div {
        padding: 13px 0;
      }
      input:not([type='submit']) {
        border: none;
        border-bottom: 2px solid #333;
        position: absolute;
      }
      .hidden-submit {
        opacity: 0;
        position: absolute;
      }
      .already-reg, .password-forget {
        background: $bright-blue;
        position: absolute;
        padding: 10px 10px;
        color: black;
        width: 238px;
        left: -7px;
        box-shadow: 3px 4px 5px 1px #999;
        text-align: center;
        margin-top: 12px;
        a {
          color: #444;
        }
      }
    }

    #register_form {
      left: 351px;
      z-index: 999;
      top: 38px;
      width: 201px;
      input#user_name {
        top: 22px;
      }
      input.email {
        top: 61px;
      }
      input#user_password {
        top: 101px;
        left: 99px;
      }
      input#user_password_confirmation{
        top: 140px;
        left: 84px;
      }
    }

    #login_form {
      top: 44px;
      width: 205px;
      margin-left: 8px;
      input.email {
        top: 21px;
        left: 61px;
      }
      input.password {
        top: 61px;
        left: 88px;
      }
    }
    #login {
      z-index: 9999;
      display: block;
      cursor: pointer;
      @include sprite("top_bar", "login");
      &:hover {
        @include sprite("top_bar", "login-hover");
      }
    }
    #register {
      z-index: 999;
      @include sprite("top_bar", "register");
      margin-left: 104px;
      cursor: pointer;
      &:hover {
        @include sprite("top_bar", "register-hover");
      }
    }
    #gallery {
      @include sprite("top_bar", "gallery");
      margin-left: 195px;
      cursor: pointer;
      &:hover {
        @include sprite("top_bar", "gallery-hover");
      }
    }

    .errors {
      display: none;
    }
    &.register {
      #login {
        z-index: 99999;
      }
      #register_form {
        display: block;
        &.errors .errors {
          display: block;
          color: $bright-orange;
        }
      }
      #register {
        z-index: 9999;
        top: -2px;
        @include sprite("top_bar", "register-active");
        span {
          padding: 11px 77px;
        }
      }
      #gallery {
        z-index: 99;
        margin-left: 353px;
      }
    }
    &.login {
      #login_form {
        display: block;
        &.errors .errors {
          display: block;
          color: $bright-orange;
        }
      }
      #login {
        top: -2px;
        @include sprite("top_bar", "login-active");
        span {
          padding: 11px 77px;
        }
      }
      #register {
        margin-left: 256px;
      }
      #gallery {
        margin-left: 353px;
      }
    }
  }
}
#content {
  width: 960px;
  margin: 0 auto -54px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: #f2eee8;
  padding: 50px 10px 0;
  box-shadow: 0px 0px 8px 5px #ccc;
  -moz-box-shadow: 0px 0px 8px 5px #ccc;
  -webkit-box-shadow: 0px 0px 8px 5px #ccc;
}

#footer, .push {
  clear: both;
  height: 54px;
  .homelink {
    float: right;
    margin-right: 20px;
    font-size: 15px;
    font-style: italic;
    a {
      color: black;
    }
    .logo {
      font-size: 30px;
      font-family: 'NillandBlackRegular';
      font-style: normal;
    }
  }

  .rootlink {
    margin: 0 auto;
    width: 960px;
    position: relative;
    top: 13px;
    a {
      color: black;
      font-size: 22px;
      font-family: "MavenProBlack";
      float: left;
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
  #footer_bg {
    background: transparent image_url('footerbg.png') repeat-x bottom left;
    height: 24px;
    clear: both
  }
}

.clearfix {
  clear: both;
  height: 0;
}


.flash {
  background: #F8CA00;
  font-family: Arial;
  padding: 14px;
  font-size: 21px;
  position: relative;
  width: 100%;
  top: 0;
}

a {
  color: $bright-blue;
  text-decoration: none;
  &:active {
    text-decoration: underline;
    color: $link-active-blue;
  }
}

p a {
  font-style: italic;
}

iframe.puppy {
  top: 15px;
  left: 24px;
  width: 181px;
  height: 181px;
  margin-right: 42px;
}

form#new_signup {
  label {
    display: block;
    font-size: 22px;
  }
  input#signup_email {
    border-radius: 8px;
    border-color: #B7F1DB;
    background-color: #B7F1DB;
    font-size: 24px;
    color: #614D4D;
    font-size: 22px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  input[type='submit'] {
    font-size: 22px;
    padding: 5px;
  }
}
ul.nav {
  float: left;
  margin-top: 50px;
  margin-left: 25px;
  margin-bottom: 125px;
  clear: both;
  font-size: 24px;
  font-family: "NillandBlackRegular";
  li{
    float: left;
    margin-right: 15px;
    &.middle {
      border-right: 2px solid #C5D497;
    }
    padding-right: 15px;
  }
  a {
    color: #c5d497;
  }
}

h1 {
  font-size: 36px;
  padding-top: 30px;
  font-family: 'MavenProBlack';
  .subtitle {
    font-family: 'Georgia';
    font-style: italic;
  }
}
#subtitle {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 20px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 15px;
}

.updated {
  font-family: Georgia;
  font-size: 13px;
  font-style: italic;
  color: #666;
  margin-bottom: 10px;
}
.ui-widget {
  font-family: "MavenProBold";
}

.ui-progressbar-value {
  background: #35414F image_url('candycane.png') 50% 50% repeat;
}
.hr {
  height: 8px;
  background: #35414F image_url('candycane.png') 50% 50% repeat-x;
  margin-top: 5px;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #35414F image_url('buttonhover.png') 50% 50% repeat;
}
