@import 'mixins.scss';

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
  @include sprite('buttons', 'blue');
  font-weight: bold;
  color: #333;
  &:hover {
    @include sprite('buttons', 'blue-hover');
  }
  &:active {
    @include sprite('buttons', 'blue-active');
  }

  &.publish-button, &.last_button, &.next_button {
    @include sprite('buttons', 'green');
    &:hover {
      @include sprite('buttons', 'green-hover');
    }
    &:active {
      @include sprite('buttons', 'green-active');
    }
  }

  .ui-button-text {
    padding: .5em .2em;
  }
}

.edit-button {
  height: 25px;
  width: 25px;
  @include sprite('buttons', 'edit');
  &:hover {
    @include sprite('buttons', 'edit-hover');
  }
  &:active {
    @include sprite('buttons', 'edit-active');
  }
}
.trash-button {
  height: 24px;
  width: 24px;
  @include sprite('buttons', 'trash');
  &:hover {
    @include sprite('buttons', 'trash-hover');
  }
  &:active {
    @include sprite('buttons', 'trash-active');
  }
}
.trash-button, .edit-button {
  display: block;
  float: right;
  margin: 58px 14px 0 0;
  text-indent: -9999px;
}

code {
  background: #F9F9E8;
  margin: 10px 0 10px 30px;
  font-family: Inconsolata;
  border: 1px solid #CCC;
  font-size: 15px;
  line-height: 21px;
  overflow: visible;
  position: relative;
  padding: 6px 10px;
  border-radius: 3px;
  display: block;
  p {
    font-family: Inconsolata;
    margin: 0px;
    line-height: 21px;
    font-size: 15px;
  }
  add {
    background: #ddffdd;
    display: inline-block;
    width: 100%;
    color: #005b00;
  }
  delete {
    background: #ffeeee;
    display: inline-block;
    width: 100%;
    color: #960000;
  }
  num {
    position: absolute;
    left: -29px;
    top: 6px;
    color: #333;
    width: 26px;
    text-align: right;
    padding-right: 2px;
  }
}

