doctype html
html
  head
    title Hopscotch
    link href="/assets/stage.css" media="screen" rel="stylesheet" type="text/css"
    = javascript_include_tag "application"
    = csrf_meta_tags
    javascript:
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26599714-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      makePaper = function() {
        paper = Raphael(0,0,400,400)
        paper.rect(0,0,399,399).attr('fill', 'white')
      }
body
  = yield

